{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
    {{#memberList}}
        <tr>
            <th>{{id}}</th>
            <td>{{email}}</td>
            <td>{{password}}</td>
        </tr>
    {{/memberList}}
    </tbody>
</table>
{{>layouts/footer}}