<!-- 제목title, 내용content -->
{{>layouts/header}}

<form class="container">
    <div class="mb-5">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-5">
        <label class="form-label">내용</label>
        <textarea type="text" class="form-control" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{>layouts/footer}}